
trace.enabled = true
docker.enabled = false

process {
    module = 'singularity'
    executor = 'slurm'
    cache = 'lenient'
    errorStrategy = 'finish'
    
    withName:cat_haplotagged_contigs {
        memory = '64.GB'
    }

    withName:sniffles2 {
        memory = '30.GB'
        cpus = 8
    }
}

singularity {
    enabled = true
    autoMounts = true
    libraryDir = '/vast/projects/bahlo_cache/singularity_lib'
    runOptions = '-B /vast -B /stornext'
}

executor {
    name = 'slurm'
    queueSize = 250
    pollInterval = '10 s'
    queueStatInterval = '10 s'
    submitRateLimit = 10
    exitReadTimeout = '1 min'
}
